@import "tailwindcss";

/* Leaflet CSS */
@import "leaflet/dist/leaflet.css";

/* Custom leaflet fixes */
.leaflet-container {
  height: 300px;
  width: 100%;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-control-zoom {
  border-radius: 8px !important;
}

.leaflet-control-zoom a {
  border-radius: 4px !important;
}

/* Tiện ích ẩn thanh cuộn */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
